<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='./css/style.css'>
        <script src="https://kit.fontawesome.com/f3fe2a54a1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="main-container">
            <h1>TODO App</h1>
            <div id="form-container">
                <form action="/add-task" method="POST">
                    <input type="text" id="task-description" name="task" placeholder="Description - What do you need to do?" required>
                    <select id="category" name="category" required>
                        <option value="">Choose a category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                    <!-- <label for="date">Due Date</label> -->
                    <div id="date-container">
                        <span>Due Date:</span>
                        <input type="date" id="date" name="date" value="2022-05-21" required>
                    </div>

                    <div id="buttons">
                        <button type="submit">
                            <i class="fa-solid fa-plus"></i>
                            ADD TASK
                        </button>
                        <!-- <button>
                            <i class="fa-solid fa-trash-can"></i>
                            <% for(let i of tasksArr) { %>
                                <% let x %>
                                <a href="/delete-task/?task=<%=  %>">DELETE TASK</a>
                            <% } %>
                        </button> -->
                    </div>
                </form>

            </div>

            <div id="tasks-list-container">
                <% for(let i of tasksArr) { %>
                    <div id="task-container">
                        <!-- <input type="checkbox" id="checkbox" name="checkbox"> -->
                        <a href="/delete-task/?task=<%= i.task %>"><i class="fa-solid fa-trash"></i></a>
                        <div id="task-date-div">
                            <!-- <div > -->
                                <%= i.task %>
                                <br>
                                <span>
                                    <i class="fa-solid fa-calendar"></i>
                                    <%= i.date %>
                                </span>
                            <!-- </div> -->
                            </div>
                        <span id="category-span">
                            <%= i.category %>
                        </span>
                    </div>
                <% } %>
            </div>
        </div>

        <script src='./js/script.js'></script>
    </body>
</html>